* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3.5fr;
  max-width: 1300px;
  font-family: roboto;
  margin: 0 auto;
  height: 100dvh;
}

.hidden {
  display: none;
}

header,
.sidebar {
  padding: 16px;
}


header {
  grid-area: 1 / 2 / 2 / 3;

  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 40px 20px 40px;
  row-gap: 30px;
}

.hero-start {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.hero-start-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

}

input[type="text"] {
  width: 530px;
  border-radius: 20px;
  background-color: rgb(233, 238, 245);
  border: none;
  height: 25px;
}

.hero-start-right {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 25px;
  justify-content: end;
}

.search,
.bell {
  width: 22px;
  height: 22px;
  margin: .5em;
  fill: black;
}

img.hero-start-img {
  width: 40px;
}

img.hero-end-img {
  width: 80px;
}

.hero-end {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.hero-end-left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.hero-end-right {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  gap: 25px;
  align-items: center;
}

.hero-end-left span {
  font-size: medium;
}

.hero-end-right a {
  background-color: rgb(30, 148, 210);
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.sidebar {
  background-color: rgb(30, 148, 210);
  color: white;
  grid-area: 1 / 1 / 3 / 2;

}

.sidebar div {

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;


}



.icon {
  width: 20px;
  height: 20px;
  margin: .5em;
  fill: white;
}

.dashboard-icon-div {
  margin-bottom: 3rem;
}

.mt-lg {
  margin-top: 3rem;
}

.dashboard-icon {
  width: 40px;
  height: 40px;
  margin: 0;

}

.sidebar-content {
  margin-bottom: .5rem;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(233, 238, 245);
  box-shadow: inset 0 2px 4px rgb(0, 0, 0, 0.12);
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1.1fr;
}

.projects {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 330px));
  grid-template-rows: repeat(3, minmax(180px, 230px));
  gap: 20px;


}

.project-cards {
  display: grid;
  background-color: white;
  padding: 25px 20px;
  border-radius: 5%;
  box-shadow: 0px 1px 42px 3px rgba(188, 200, 204, 0.29);
  /* box-shadow: 100px 24px 0px -92px rgba(255, 164, 0, 1) inset; */
  box-shadow: 100px 0px 0px -92px rgba(255, 164, 0, 1) inset;

}



.project-cards p {
  color: rgb(112, 113, 115);
}

.project-cards div {
  margin-top: 25px;
}

.project-cards .icon {
  fill: black;
  float: right;


}

.aside-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 26px;
  text-align: left;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;

}

.announcements-content {
  background-color: white;
  border-radius: 5%;
  padding: 0 20px;
}

.announcement-text {
  padding: 25px 0;
  border-bottom: 2px solid rgb(233, 238, 245);
}

.announcement-text p {
  color: rgb(112, 113, 115);
  font-size: small;
  padding-top: 3px;
}

.announcement div:last-child {
  border: none;
}

.trendding {
  display: grid;
  grid-template-rows: auto 1fr;
}

.trending-content {
  background-color: white;
  border-radius: 5%;
  padding: 25px 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.trending-text {

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.trending-text h4 {
  color: rgb(112, 113, 115);
  font-weight: 500;
}

.trending-text h4 span {
  color: black;
}

.trending-img {
  width: 40px;
}

.trending h3,
.announcement h3 {
  margin-bottom: 16px;
}